/* Added By Sean **************************************************************/


/* __ Bracket Formatting ______________________________________________*/

.secondary-bracket{
  background-color:#FFF5E8;
  box-shadow: 0 0 10px 20px rgba(255, 245, 232, 1);
}

/* __ Placings for infoSummary ______________________________________________*/


.results-table{
  border:2px solid black;
  border-collapse: collapse;

  td.results-table-header{
    background-color: #000;
    color:white;
    text-align: left;
  }

  td.results-table-info{
    background-color: #EEE;
  }

}

td.border-top{
  border-top:1px black solid;
}


/* __ Tabs for infoSummary ______________________________________________*/

.folder-tab {
  height: 30px; /* tabs-height */
   /* width: 150px; */
  position: relative;
  top: 11px;
  background-color: #259EE8; /* tabs-color */
  left: 14px;
  display: inline-block;
  z-index: 2;
  margin-right:10px;
  color: #FFF;
  cursor: pointer;

  &.unfinished{
    color: #FFF;
    background-color: #AAA; /* selected-color */
    &:before,&:after{
      background-color: #AAA; /* selected-color */
    }
  }
  &.selected, &:hover{
    z-index: 3;
    color: #FFF;
    background-color: #000; /* selected-color */
    &:before,&:after{
      background-color: #000; /* selected-color */
    }
  }

  &:before {
    /* opacity:1; */
    height: 30px; /* tabs-height */
    width: 20px;
    border-radius: 3px 3px 0px 0px;
    background-color: #259EE8;  /* tabs-color */
    content: "";
    position: absolute;
    left: -7px;
    top: 0px;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    z-index: -1;
  }
  &:after {
    height: 30px; /* tabs-height */
    width: 20px;
    border-radius: 3px 3px 0px 0px;
    background-color: #259EE8;  /* tabs-color */
    content: "";
    position: absolute;
    right: -7px;
    top: 0px;
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    z-index: -1;
  }
  span {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    height: 30px; /* tabs-height */
    line-height: 34px; /* tabs-height + 4 */
    z-index: 3;

  }
}

.tabs-body {
  background-color: white;
  height: calc("100vh - 120px");
  width: calc("100vw - 61px");
  position: relative;
  top: 10px;
  left: 1px;
  padding: 0px;
}

/* __ End tabs info ______________________________________________*/

.cut-list-heading{
  padding-right: 1em;
  background-color: black;
  color:white; text-align:
  right; font-size:2em;
}

.pending-exchange{
  background-color: #88C6F0  !important;
}


div.attack-box{
  padding: 5px;
  margin: 7px;
}

div.attack-box-on{
  background-color: #96CDF2;
}


div.quiz{
  border: black solid 1px;
  box-shadow: 4px 4px 5px 1px #666;
  margin-right: 8px;
  padding: 8px;
  margin-bottom: 20px;
}

ol.quiz{
  list-style-type: lower-alpha;
}

li.quiz-answer{
  font-weight: bold;
}

p.quiz-answer{
  display:none;
}

.priority-text-notice{
  background-color: #FFF;
  border: black solid 1px;
  padding-left: 5px;
  padding-right: 5px;
  font-style: italic;
}

.background-primary{
  background-color: #1779ba;
}

.background-primary-light{
  background-color: #D6E5FA;;
}

.background-secondary{
  background-color: #767676;
}

.background-success{
  background-color: #3adb76;
}

.background-warning{
  background-color: #ffae00;
}

.background-alert{
  background-color: #cc4b37;
}



.yearly-summary-text {
  font-size:1.25em;
}

.yearly-summary-title {
  font-size:1.7em;
}


.table-compact td{
  padding-top:0px;
  padding-bottom:0px;
}

.sortable-item{
  padding-top:2px;
  padding-bottom:2px;
  margin-bottom:10px;
}

div.clickable{
  cursor: pointer;

  border: 1px solid black ;
  box-shadow: 4px 4px 5px 1px #666;
  margin-top: 4 px;
  margin-bottom: 12 px;
}

div.clickable:active:hover {
  box-shadow: none;
  margin-top: 8px;
  margin-bottom: 8px;
}

.image-box{
  border: 1px solid black ;
  box-shadow: 4px 4px 5px 1px #666;
  margin-right: 8px;
}

.special-table {
  border: solid 5px black !important;
}
  .special-table tr:nth-child(even) {
    background-color:#D6E5FA;
  }
  .special-table th{
    border-bottom: 1px solid black;
  }

.drop-down-separator {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
}

.drop-down-separator::before{
  content: '';
    width: 0.4em;
  border-bottom: 1px solid #FFF;
}

.drop-down-separator::after {
  content: '';
  flex: 10;
  border-bottom: 1px solid #FFF;
}

.drop-down-separator:not(:empty)::before {
  margin-right: .25em;
}

.drop-down-separator:not(:empty)::after {
  margin-left: .25em;
}


table td.match-queue{
  padding-top: 2em;
  padding-bottom: 2em;
}

table tr.match-queue{
  font-size: 200%;
  border-top: solid black 1px;
}

@media screen and (max-width: 39.9375em) {
  .button-extra-pad-small {
    font-size: 600%;} }

.data-table td{
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: right
}

.data-table tr:nth-child(even) {
    background-color: #EAF3FB;
}

.options-table table{
  border:  0px;
}

.options-table td{
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #fff;
}

.options-table select{
  max-height: 1.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left:  10px;
}

.options-table input{
  width:  110px;
  max-height: 1.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left:  10px;
  margin-bottom: 0px;
}

.shrink-column{
  width:0.1%;
  white-space: nowrap;
}

.conclude-match-button{
  border: 1px solid black;
}

.link-table:hover{
  background:#64C6FF;
}

.link-table{
   cursor: pointer;
}

.link-table-active{
   color:red;
}

#sponsor-large img{
  margin-right:  10px;
  margin-left:  10px;
  margin-bottom:  20px;
}

.documentation-div #rules-title{
  font-size: 2.5em;
  padding:  0em;
  margin:  0em;
}

.documentation-div h1{
  font-size: 2.3em;
  border-bottom:  1px solid black;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}

.documentation-div h2{
  font-size: 1.9em;
  color: #1779ba;
  margin-top: 1.0em;
  margin-bottom: 0.0em;
}

.documentation-div h3{
  font-size: 1.4em;
  color: #F08A24;
  margin-top: 1.0em;
  margin-bottom: 0.0em;
}

.documentation-div h4{
  font-size: 1.2em;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

.documentation-div p + ul {
    margin-top: -10px;
}

.documentation-div p + ol {
    margin-top: -10px;
}

.documentation-div .example{
  font-style: italic;
}

.strike-through{
  text-decoration: line-through;
}

.penalty-card-display{
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
}

.penalty-card-yellow{
  background-color: #FFFF55;
}

.penalty-card-red{
  background-color: #F04124;
}

.penalty-card-black{
  background-color: #000000;
  color: #FFFFFF;
}

.penalty-card-white{
  background-color: #F8F8F8;
}

.easter-egg:hover {
    color: red !important;
}

.easter-egg{
    color: white !important;
}

.confirmed-hours{
  color: #3adb76;
}

.target-hours{
  color: #1779ba;
}

.unconfirmed-hours{
  color: #cc4b37;
}

.unscheduled-hours{
  color: #ffae00;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.no-wrap{
  white-space: nowrap;
}

.no-mouse{
  pointer-events: none;
}

@media (min-width: 200px) {
  .overlay-score {
    font-size: calc(0.9375rem + ((1vw - 4px) * 3.2864));
    padding-right: calc(0.6rem + ((1vw - 4px) * 1.2864));
  }
  .overlay-name {
    font-size: calc(0.625rem + ((1vw - 4px) * 1.8779));
	padding-right: calc(0.6rem + ((1vw - 4px) * 1.2864));
  }
  .overlay-school {
    font-size: calc(0.3125rem + ((1vw - 4px) * 1.4085));
    padding-right: calc(0.6rem + ((1vw - 4px) * 1.2864));
  }

  .overlay-left {
	padding-left: calc(0.6rem + ((1vw - 4px) * 1.2864));
  }
}

@media (min-width: 1465px) {
  .overlay-score {
    font-size: 50px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .overlay-name {
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .overlay-school {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
}


.match-winner-button-div{
	padding-right: 2px;
	padding-left: 2px;
}

.youtube-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	border: solid black 1px;
}

.youtube-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.faq-list li{
	margin-bottom: 15px;
}

.faq-list em {
	display: block;
	text-decoration: underline;
	font-style: normal;
}

.match-incomplete{
	opacity: 0.5;
}

.match-ignore{
	color:grey;
}

.match-doubleOut{
	color: #800000;
}

.last-to-elims{
	border-bottom: 1px solid black;
}

.first-no-elims{
  border-top: 1px solid black;
}

.pool-winner{
  font-style: italic;
}

.table-top-border{
  border-top: 1px solid black;
}

.match-winner-name{
	border: solid 1px black;
	padding: 5px;
	text-align: center;
}

.tournament-edit-box{
	border-top:1px solid;
	padding-top: 10px;
	margin-bottom: 10px;
}

.tournament-edit-name{
	padding-top: 10px;
	margin-bottom: 10px;
}

.accordion-title {
	padding-top:10px;
	padding-bottom:1px;
}

.fighter-score-box{
	padding: 15px 2% 15px 2%;
	border: solid 1px black;
}

.old-exch-odd{
	background-color: #E8E8E8;
}

.old-exch-large-first{
	padding-left: 5px;
	margin-right: 5px;
}

.old-exch-mini td{
	border-top: 1px solid black;
	padding: 0px;
	width: 20%;
	text-align: center;
}

.old-exch-mini-right {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.hidden{
	display: none;
}

.hidden-important{
  display: none !important;
}

select {
	margin-bottom: 0px;
}

.black-border {
	border:solid 1px black;
}

.bottom-border {
	border-bottom:solid 1px black;
}

.top-border {
  border-top:solid 1px black;
}

.no-margin {
	margin: 0px;
}

.no-padding {
  padding: 0px;
}

legend h4 {
  margin-bottom: 0px;
}

.no-bottom {
	margin-bottom: 0px;
}

.no-top {
  margin-top: 0px;
}

.tournament-box {
  border: solid 1px;
  display:inline-block;
  cursor:pointer;
  padding-right: 4px;
  padding-left: 4px;
}

.pointer {
  cursor:pointer;
}

.grab {
  cursor:grab;
}

.bold {
  font-weight: bold;
}

.red-text {
  color: red;
}

.white-text {
  color: white;
}

.grey-text {
  color: grey !important
}

.black-text {
  color: black;
}

.alert-text {
  color: #F04124;
}

.blue-text {
  color: #1779ba;
}

.success-text {
  color: #43AC6A;
}

.warning-text {
  color: #F08A24;
}

/* Jayson Stuff ***************************************************************/

.top-bar, .top-bar ul {
  background-color:black;
  color:white;
}

.title-bar-title {
  Color: white;
}

.top-bar a {
  color:#77DDFF;
}

.top-bar .white-text a {
  color:white;
}

.top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: #77DDFF transparent transparent;
}

.top-bar li.is-dropdown-submenu-parent.opens-right > a::after {
  content: "";
  border-color: transparent transparent transparent #77DDFF;
}
.top-bar li.is-dropdown-submenu-parent.opens-left > a::after {
  content: "";
  border-color: transparent transparent transparent #77DDFF;
}

.top-bar .dropdown.menu .is-active > a {
  background: transparent;
  color:#77DDFF;
}

/* White text overrides for dropdown arrows */
.top-bar .dropdown.menu > li.white-text.is-dropdown-submenu-parent > a::after {
  content: "";
  border-color: white transparent transparent;
}
.top-bar .dropdown.menu > li.white-text.is-dropdown-submenu-parent.is-active > a {
  background: transparent;
  color: white;
}


.top-bar .white-text li.is-dropdown-submenu-item > a::after {
  content: "";
  border-color: transparent transparent transparent white;}

  .top-bar .white-text li.is-dropdown-submenu-item.is-active > a {
    background: transparent;
    color: white;
  }


/* a, a:visited {
  color:#2D9CDB;
} */

/**#page-wrapper {
  margin-top:1rem;
}**/



/* __ Match Styling ___________________________________________________________________________________ */
/* ____________________________________________________________________________________________________ */

.match-item {
  display:block;
  border-style:solid;
  border-width:1px;
  border-color:#DDDDDD;
  margin-bottom:1rem;
}

/**.match-item:hover {
  border-color:#2D9CDB;
}**/

.match-item a, .match-item a:visited {
  font-size:.875rem;
  font-weight:Bold;
  display:inline-block;
  width:100%;
  text-align:center;
height:1.5rem;
line-height:1.6rem;
margin-bottom:.25rem;
}

.match-item a:hover {
  background-color:#2D9CDB;
  color:white;
}

.current-match a, current-match a:visited {
background-color:black;
color:white;
}

.current-match {
border-color:black;
}

.match-item ul {
  margin:0;
}

.match-item li {
  display:block;
  list-style: none;
  float:left;
  width:47%;
  text-align:center;
  border-bottom:4px solid;
  padding-bottom:.5rem;
  height:100%;
}

li.versus-item {
  width:6%;
  border-bottom:none;
  font-size:.75rem;
  color:grey;
  height:100%;
  display:inline-block;
}


.match-item li:last-child {
  float:right;
}

li h5, li h6 {
  font-size:.75rem;
  margin:0;
}

li h5 {
  font-weight: bold;
}

.lost {
  opacity:.4;
  text-decoration:line-through;
}


.hero-title {
  background-color:#F2F2F2;
  margin-bottom:1rem;
  margin-top:0rem;
  padding:0.5rem;
  text-align:center;
}

.hero-title h1, .hero-title h2 {
  width:100%;
  font-weight:bold;
  padding-bottom:0rem;
  margin-bottom:0rem;
}

.hero-title select{
    margin-bottom:0.5rem;
 }

h1 {
  font-size:1.25rem;
  margin:0;
}

h2 {
  font-size:1rem;
}

.tourney-menu-large {
  border-bottom:1px solid #2D9CDB;
  margin-bottom:1rem;
  font-size:1rem;
}

.tourney-menu-large li {
  border-bottom:4px solid white;
}

.tourney-menu-large li.is-active a {
  Background-color:white;
  color:black;
}


.tourney-menu-large li.is-active {

  border-bottom-color:#2D9CDB;
}

.dropdown .is-current a {
  color:black;
  font-weight:bold;
}

.tourney-menu-mobile {
   border-bottom:1px solid #2D9CDB;
     margin-bottom:1.5rem;
  font-size:1rem;

}

.title-bar {
  display:block;
}

.title-bar .login-link {
  /* display:inline-block; */
  float:right;
  color:white;
  margin: 0 .5rem;
}

label {
  margin-bottom:.5rem;
}

label span {
  display:inline-block;
  font-weight:bold;
  padding-bottom:.365rem;
}

.login-button {
  font-weight:bold;
}

.pool-switcher {
  margin-bottom:1rem;
}

.fencer {
  width:50%;
  padding:2rem 1rem;
  text-align: center;
  color:white;
}

.fencer h4, .fencer h5, .fencer h6 {
  margin-bottom:0;
}

.fencer h1 {
  font-size:8rem;
  font-weight:bold;
}

@media (max-width: 480px) {
.fencer h1 {
  font-size:4rem;
}

}

.red {
background-color:#EB5757;
}

.blue {
  background-color:#1C6CD8;
}
